#container{
    background-color: #EDDFD8;
    height: 100%;
    padding-top: 16px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    color: #4285f4;
    font-size: 32px;
    font-style: oblique;
}
#header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 padding-bottom: 20px;
 border-bottom: 2px #fff solid ;
 
}
#overview{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: oblique;
    color: #fff;
    font-size: 75%;
}
.nav{
    margin-right: 12px;
    text-decoration: underline;
}
#nav{
    font-size: 60%;
    margin-left: 12px;
    align-self: flex-end;
    margin-bottom: 12px;

}
#insta{
    height: 35px;
    width: 35px;
}
#twitter{
    height: 42.5px;
    width: 42.5px;
    margin-right: 12px;
    margin-left: 12px;
}
#fb{
    height: 42px;
    width: 42px;
    margin-right: 12px;
}
#git{
    height: 52px;
    width: 52px;
    
}
#li{
    height: 40px;
    width: 40px;
    margin-right: 12px;
}
#mail{
    height: 45px;
    width: 45px;
    margin-right: 12px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#social{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
#footer{
    padding-right: 20%;
    padding-left: 20%;
    background-color: #313131;
    min-height: 280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;

}
#instaDiv{
    background-color: #fff;
    height: 42.5px;
    width: 42.5px;
    border-radius: 21.25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
padding-left: 12px;
font-size: 1.5em;
}

#projCard{
    width: 45%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(183, 176, 172, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 2.5%;;
    
    
}

.projImg{
    display: flex;
    height: 150px;
    width: 150px;
}

#cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-right: 2.5%;
    padding-left: 2.5%; */
    
}